{% extends 'catalog/base.html' %}
{% block title %}Новости | ОАО «Гомельагрокомплект»{% endblock %}
{% block menu_news %}is-active{%endblock %}
{% block breadcrumb %}
  <nav class="breadcrumb is-centered" aria-label="breadcrumbs">
  <ul>
    <li><a href="{% url 'home_page' %}">Главная страница</a></li>
    {% if selected_category %}
    <li><a href="{% url 'items_list' %}" aria-current="page">Каталог</a></li>
    <li class="is-active"><a href="{% url 'items_list' %}/{{ selected_category.url }}" aria-current="page">{{ selected_category.title }}</a></li>
    {% else %}
    <li class="is-active"><a href="#" aria-current="page">Новости</a></li>
    {% endif %}
  </ul>
</nav>  
{% endblock %}
{% block content %}
<section class="section is-main">
    <div class="container">
		<div class="columns">
			<div class="news column is-8 is-offset-2 ">
				{% if selected_tag %}
				<p class="title is-3">Метка: <span class="has-text-info has-text-weight-normal">#{{ selected_tag }}</span> <a href="{% url 'news_list' %}" title="Вернуться ко всем новостям" class="delete"></a></p>
				{% endif %}
				{% for item in news %}
				<div class="card">
					<div class="card-content">
						<p class="title">
						{{ item.title }}
						</p>
						{% if item.tags.all %}
						<p class="subtitle">
						{% for tag in item.tags.all %}
						<a href="{{ tag.get_absolute_url }}">#{{ tag.title }}</a>
						{% endfor %}
						&mdash;
						<span>{{ item.created_date | date:"SHORT_DATE_FORMAT" }}</span>
						</p>
						{% endif %}
						{{ item.content | safe }}
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
    </div>
</section>
{% endblock %}
