<form method="POST" id="order-form" action="{% url 'get_order_form' %}">
    {% csrf_token %}

    {{ form.non_field_errors }}

    {% for hidden_field in form.hidden_fields %}
        {{ hidden_field }}
    {% endfor %}

    {% if item %}
      <input type="hidden" name="item" id="item_id" value="{{ item.id }}">
    {% elif custom %}
      <input type="hidden" name="custom_field" id="custom_id" value="{{ custom }}">
    {% endif %}
    
    {% for field in form.visible_fields %}
        <div class="field">
            <label class="label" for="id_{{ field.name }}">{{ field.label }}</label>
            <div class="control">
                {{ field  }}
            </div>
            {% if field.help_text %}
            <p class="help">{{ field.help_text | safe }}</p>
            {% endif %}
        </div>
    {% endfor %}
    <div class="field is-grouped">
        <div class="control">
            <button class="button is-link">Отправить</button>
        </div>
        <div class="control">
            <button type="button" class="button js-close-popup is-text">Закрыть</button>
        </div>
    </div>
</form>
