        <section class="footer hero is-link">
            <div class="container">
                <div class="columns is-vcentered">
                    <div class="column is-5">
                        <p class="title">Гомельагрокомплект</p>
                        <p class="subtitle">К высокому качеству молока &mdash; вместе с нами!</p>
                    </div>
                    <div class="column is-3">
                        <p>Новости предприятия</p>
                        <p>Каталог продукции</p>
                        <p>Предоставляемые услуги</p>
                        <p>О предприятии</p>
                    </div>
                    <div class="column is-4">
                        <p>
                        247016, Республика Беларусь,<br/>
                        г. Гомель, а/г Ерёмино, ул. Сурганова, 14<br/>
                        Телефон: <a href="tel:+375232933666">+375 (232) 93-36-66</a>,<br/>
                        Факс: +375 (232) 93-36-40
                        </p>
                    </div>
                </div>
            </div>
        </section>
