        <section class="footer hero is-link">
            <div class="container">
                <div class="columns is-vcentered">
                    <div class="column is-5">
                        <p class="title">&laquo;Гомельагрокомплект&raquo;</p>
                        <p class="subtitle">К высокому качеству молока &mdash; вместе с нами!</p>
                    </div>
                    <div class="column is-3">
                        <p><a href="{% url 'news_list' %}">Новости предприятия</a></p>
                        <p><a href="{% url 'items_list' %}">Каталог продукции</a></p>
                        <p><a href="{% url 'service_list' %}">Предоставляемые услуги</a></p>
                        <p><a href="{% url 'home_page' %}#block-about">О предприятии</a></p>
                    </div>
                    <div class="column is-4">
                        <p>
                        247016, Республика Беларусь,<br/>
                        г. Гомель, а/г Ерёмино, ул. Сурганова, 14<br/>
                        Телефон: <a href="tel:+375232933666">+375 (232) 93-36-66</a>,<br/>
                        Факс: +375 (232) 93-36-40
                        </p>
                    </div>
                </div>
            </div>
        </section>
