{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'css/libs/bulma.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
<body>
    <nav class="navbar has-shadow">
        <div class="container">
            <div class="navbar-tabs">
                <a class="navbar-item is-tab is-active" href="{% url 'items_list' %}">Продукция</a>
                {% if request.user.is_superuser %}
                <a class="navbar-item is-tab" href="{% url 'admin:index' %}">Панель админстратора</a>
                {% endif %}
            </div>
            <div class="navbar-end">
                <div class="navbar-item">
                {% if query_category %}
                <form action="{% url 'items_list' %}" method="GET">
                {% elif selected_category %}
                <form action="{% url 'items_list' %}" method="GET">
                {% else %}
                <form action="{% url 'items_list' %}" method="GET">
                {% endif %}
                    <div class="field is-grouped">
                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label">Поиск</label>
                            </div>
                            <div class="field-body">
                                <div class="field has-addons">
                                    <p class="control">
                                    <input required class="input" type="text" name="q" {% if query %} value="{{ query}}" {% endif %}  placeholder="Например, МКП-600">
                                    {% if query_category %}
                                    <input type="hidden" name="category" value="{{ query_category.url }}">
                                    {% elif selected_category %}
                                    <input type="hidden" name="category" value="{{ selected_category.url }}">
                                    {% endif %}
                                    </p>
                                    <div class="control">
                                        {% if query %}
                                        <a href="{% url 'items_list' %}" class="button is-danger">
                                            Сброс
                                        </a>
                                        {% else %}
                                        <button class="button is-info">
                                            Искать
                                        </button>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                </div>
            </div>
        </div>
    </nav>
    
    
    {% block content %}
    {% endblock %}
    
    <div id="contact-popup" class="modal">
        <div class="modal-content">
            <div class="modal-header content">
                <p class="title is-4 has-text-centered has-text-white">Отправить заявку</p>
            </div>
            <div class="modal-body">
                {% include "orders/order_form.html" with form=order_form item=item %}
            </div>
        </div>
    </div>
    <script src="{% static 'js/libs/imask.min.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>


</body>
</html>
