{% extends 'catalog/base.html' %}
{% block title %}Оборудование | ОАО «Гомельагрокомплект»{% endblock %}
{% block content %}
<section class="section">
        <div class="container">
            <div class="columns">
                {% if category %}
                <div class="column is-3-tablet is-2-desktop">
                    <aside class="menu">
                        <p class="menu-label">Категории {% if selected_category %}<a style="float:right" href="{% url 'items_list' %}">СБРОСИТЬ</a>{% endif %}</p>
                        <ul class="menu-list">
                            <li>
                                {% for item in category %}
                                <a href="/{{ item.url }}" {% if selected_category.title == item.title %}class="is-active"{% endif %}>{{ item.title  }}</a>
                                {% endfor %}
                            </li>
                        </ul>
                    </aside>
                </div>
                {% endif %}
                {% if query and not items %}
                <div class="column">
                    <div class="columns is-multiline is-mobile">
                        <div class="column is-6 is-offset-3">
                            <div class="content">
                                <div class="notification">
                                    <a class="delete" href="{% url 'items_list' %}"></a>
                                    <p>По запросу "{{ query  }}" ничего не найдено.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% if items %}
                <div class="column">
                    <div class="columns is-multiline is-mobile">
                    {% for item in items %}
                    <div class="column {% if category %}is-6{% else %}is-4{% endif %}">
                        <div class="box">
                        <article class="media">
                            {% if item.image %}
                            <div class="media-left">
                                <figure class="image item-img"><img src="{{ item.image.url }}" alt="{{ item.title }}"></figure>
                            </div>
                            {% endif %}
                            <div class="media-content">
                                <div class="content"><strong>{{ item.title  }}</strong> <br/>{{ item.description | safe | truncatechars:100  }}
                                    <p><a class=" is-small item-next" href="/{{ item.category.url }}/{{ item.url}}">Подробнее</a></p></div>
                            </div>
                        </article>
                        </div>
                    </div>
                    {% endfor %}
                    </div>
                    {% if items.has_other_pages %}
                    <nav class="pagination" role="navigation" aria-label="pagination">
                        {% if items.has_previous %}
                        <a class="pagination-previous" href="?page={{ items.previous_page_number  }}{% if request.GET.q %}&q={{ request.GET.q  }}{% endif %}" >Предыдущая</a>
                        {% else %}
                        <a class="pagination-previous" title="Это первая страница" disabled>Предыдущая</a>
                        {% endif %}
                        {% if items.has_next %}
                        <a class="pagination-next" href="?page={{ items.next_page_number  }}{% if request.GET.q %}&q={{ request.GET.q  }}{% endif %}">Следующая</a>
                        {% else %}
                        <a class="pagination-previous" title="Это последняя страница" disabled>Следующая</a>
                        {% endif %}
                        <ul class="pagination-list">
                            {% if items.has_previous %}
                            <li>
                                <a class="pagination-link" href="?page={{ items.previous_page_number  }}{% if request.GET.q %}&q={{ request.GET.q  }}{% endif %}" aria-label="Перейти на страницу №{{ items.previous_page_number  }}">{{ items.previous_page_number  }}</a>
                            </li>
                            {% endif %}
                            <li>
                                <span class="pagination-link is-current" aria-label="Страница {{ items.number  }}" aria-current="страница">{{ items.number }}</span>
                            </li>
                            {% if items.has_next %}
                            <li>
                                <a class="pagination-link" href="?page={{ items.next_page_number  }}{% if request.GET.q %}&q={{ request.GET.q  }}{% endif %}" aria-label="Перейти на страницу №{{ items.next_page_number  }}">{{ items.next_page_number  }}</a>
                            </li>
                            {% endif %}
                        </ul>
                    </nav>
                    {% endif %}
                </div>
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}
