{% extends 'catalog/base.html' %}
{% block title %}Оборудование | ОАО «Гомельагрокомплект»{% endblock %}
{% block menu_catalog %}is-active{%endblock %}


{% block breadcrumb %}
  <nav class="breadcrumb is-centered" aria-label="breadcrumbs">
  <ul>
    <li><a href="{% url 'home_page' %}">Главная страница</a></li>
    {% if  selected_category %}
    <li><a href="{% url 'items_list' %}" aria-current="page">Каталог</a></li>
    <li class="is-active"><a href="{% url 'items_list' %}/{{ selected_category.url }}" aria-current="page">{{ selected_category.title }}</a></li>
    {% else %}
    <li class="is-active"><a href="#" aria-current="page">Каталог</a></li>
    {% endif %}
  </ul>
</nav>  
{% endblock %}

{% block modal-topic %}Индивидуальный заказ{% endblock %}


{% block content %}
<section class="section is-main">
        <div class="container">
            <div class="columns">
                {% if category %}
                <div class="column is-3-tablet is-3-desktop is-3-widescreen is-2-fullhd">
                    <aside class="menu">
                        <p class="menu-label">
                            {% if query %}
                            Фильтр {% if query_category %}<a style="float:right" href="{% url 'items_list' %}?q={{ query }}">СБРОСИТЬ</a>{% endif %}
                            {% else %}
                            Категории {% if selected_category %}<a style="float:right" href="{% url 'items_list' %}">СБРОСИТЬ</a>{% endif %}
                            {% endif %}
                        </p>
                        <ul class="menu-list">
                            <li>
                                {% for item in category %}
                                <a 
                                    {% if query %}
                                    href="{% url 'items_list' %}?q={{ query }}&category={{ item.url }}" {% if query_category.title == item.title %}class="is-active"{% endif %}
                                    {% else %}
                                    href="{{ item.get_absolute_url }}" {% if selected_category.title == item.title %}class="is-active"{% endif %}
                                    {% endif %}
                                   >
                                   {{ item.title  }}
                                </a>
                                {% endfor %}
                            </li>
                        </ul>
                    </aside>
                </div>
                {% endif %}
                {% if query and not items %}
                <div class="column">
                    <div class="columns is-multiline is-mobile">
                        <div class="column is-10 is-offset-1">
                            <div class="content">
                                <div class="notification">
                                    <a class="delete" href="{% url 'items_list' %}"></a>
                                    <p>По запросу &laquo;{{ query  }}&raquo; {% if query_category %}в категории &laquo;{{ query_category.title }}&raquo; {% endif %}ничего не найдено.</p>
                                    {% if query_category %}
                                    <a href="{% url "items_list" %}?q={{ query }}" class="button is-outlined is-link">Поиск по всему каталогу</a>
                                    {% else %}
                                        <a class="button is-outlined is-link js-open-popup">Связаться со специалистом</a>
                                    {% endif %}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% if items %}
                <div class="column">
                    <div class="columns is-multiline is-mobile">
                    {% for item in items %}
                    <div class="column is-12-mobile is-10-tablet is-6-fullhd is-10-widescreen is-10-desktop items" >
                        <a href="{{ item.get_absolute_url }}" class="box box-link catalog-item">
                        <div class="media">
                            {% if item.image %}
                            <div class="media-left">
                                <figure class="image item-img"><img src="{{ item.image.url }}" alt="{{ item.title }}"></figure>
                            </div>
                            {% endif %}
                            <div class="media-content">
                                <div class="content"><strong>{{ item.title  }}</strong> <br/>{{ item.description | safe | truncatechars:130  }}
                                </div>
                            </div>
                        </div>
                        </a>
                    </div>
                    {% endfor %}
                    </div>
                    {% if items.has_other_pages %}
                    <nav class="pagination" role="navigation" aria-label="pagination">
                        {% if items.has_previous %}
                        <a class="pagination-previous" href="?page={{ items.previous_page_number  }}{% if request.GET.q %}&q={{ request.GET.q  }}{% endif %}" >Предыдущая</a>
                        {% else %}
                        <a class="pagination-previous" title="Это первая страница" disabled>Предыдущая</a>
                        {% endif %}
                        {% if items.has_next %}
                        <a class="pagination-next" href="?page={{ items.next_page_number  }}{% if request.GET.q %}&q={{ request.GET.q  }}{% endif %}">Следующая</a>
                        {% else %}
                        <a class="pagination-previous" title="Это последняя страница" disabled>Следующая</a>
                        {% endif %}
                        <ul class="pagination-list">
                            {% if items.has_previous %}
                            <li>
                                <a class="pagination-link" href="?page={{ items.previous_page_number  }}{% if request.GET.q %}&q={{ request.GET.q  }}{% endif %}" aria-label="Перейти на страницу №{{ items.previous_page_number  }}">{{ items.previous_page_number  }}</a>
                            </li>
                            {% endif %}
                            <li>
                                <span class="pagination-link is-current" aria-label="Страница {{ items.number  }}" aria-current="страница">{{ items.number }}</span>
                            </li>
                            {% if items.has_next %}
                            <li>
                                <a class="pagination-link" href="?page={{ items.next_page_number  }}{% if request.GET.q %}&q={{ request.GET.q  }}{% endif %}" aria-label="Перейти на страницу №{{ items.next_page_number  }}">{{ items.next_page_number  }}</a>
                            </li>
                            {% endif %}
                        </ul>
                    </nav>
                    {% endif %}
                </div>
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}
