{% extends 'catalog/base.html' %}
{% block title %}Каталог | ОАО «Гомельагрокомплект»{% endblock %}
{% block content %}
<section class="section">
        <div class="container">
            <div class="columns">
                {% if items %}
                <div class="column">
                    <div class="columns is-multiline is-mobile">
                    {% for item in items %}
                    <div class="column is-4">
                        <div class="box">
                        <article class="media">
                            {% if item.image %}
                            <div class="media-left">
                                <figure class="image is-3by4 detail-img"><img src="{{ item.image.url }}" alt="{{ item.title }}"></figure>
                            </div>
                            {% endif %}
                            <div class="media-content">
                                <div class="content detail-description"><strong>{{ item.title  }}</strong> 
                                    <ul>
                                        {% for item in item.items.all %}
                                        <li><a href="/{{ item.category.url }}/{{ item.url}}">{{ item.title }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </article>
                        </div>
                    </div>
                    {% endfor %}
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}
