{% extends 'catalog/base.html' %}
{% block title %}{{ item.title }} | ОАО «Гомельагрокомплект»{% endblock %}
{% block menu_catalog %}is-active{% endblock %}

{% block modal-topic %}{{ item.title }}{% endblock %}
{% block modal-category %}Оборудование{% endblock %}

{% block breadcrumb %}
  <nav class="breadcrumb is-centered" aria-label="breadcrumbs">
  <ul>
    <li><a href="{% url 'home_page' %}">Главная страница</a></li>
    {% if item %}
    <li><a href="{% url 'items_list' %}" aria-current="page">Каталог</a></li>
    <li><a href="{% url 'items_list' %}{{ item.category.url }}" aria-current="page">{{ item.category.title }}</a></li>
    <li class="is-active"><a href="{% url 'items_list' %}{{ item.category.url }}{{ item.url }}" aria-current="page">{{ item.title }}</a></li>
    {% else %}
    <li class="is-active"><a href="#" aria-current="page">Каталог</a></li>
    {% endif %}
  </ul>
</nav>  
{% endblock %}
{% block content %}
<section class="section is-main">
    <div class="container">
        <div class="columns">
            <div class="column is-4">
                <div class="box">
                    <figure class="image">
                        <img src="{{ item.image.url }}" alt="{{ item.title }}">
                    </figure>
                </div>
                <p class="has-text-centered">
                    <button data-target="contact-popup" class="item-order-buttom button js-open-popup is-light">Узнать подробнее</button>
                </p>
            </div>
            <div class="column ">
                <div class="box">
                    <article class="media">
                        <div class="media-content">
                            <div class="content">
                            <h1 class="item-title title is-3">{{ item.title  }}</h1> <br/>{{ item.description | safe }}</div>
                        </div>
                  </article>
                </div>
            </div>
        </div>
        {% if details %}
        <div class="columns is-multiline">
						<div class="column is-12">
                <div class="content">
                    <p class="subtitle is-4 has-text-centered">Комплектующие</p>
                </div>
						</div>
            <div class="column is-3-tabler is-4-desktop">
                <div class="has-text-centered">
                    <div class=" content">
                      <blockquote class="notification">Для получения информации о комплектующих выберите их из списка и нажмите на кнопку получить информацию </blockquote>
                      <button data-target="details-popup" class="details-order-buttom js-open-popup button is-info">Получить информацию.</button>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="columns is-multiline  details">
                    {% for detail in details %}
                    <div class="column is-4-desktop is-6-tablet">
                      <div class="box box-link" data-title="{{ detail.title }}">
                            <div class="media">
                                <div class="media-left">
                                    <figure class="image is-3by4">
                                        <img src="{{ detail.image.url  }}" alt="{{ detail.title }}">
                                    </figure>
                                </div>
                                <div class="media-content">
                                    <p>{{ detail.title }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</section>


  

{% endblock %}
