{% extends 'catalog/base.html' %}
{% block title %}{{ item.title }} | ОАО «Гомельагрокомплект»{% endblock %}
{% block content %}
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-3-tablet is-2-desktop">
                <aside class="menu">
                    <p class="menu-label">Категории {% if selected_category %}<a style="float:right" href="{% url 'items_list' %}">СБРОСИТЬ</a>{% endif %}</p>
                    <ul class="menu-list">
                        <li>
                            {% for item in category %}
                            <a href="/{{ item.url }}" {% if selected_category.title == item.title %}class="is-active"{% endif %}>{{ item.title  }}</a>
                            {% endfor %}
                        </li>
                    </ul>
                </aside>
            </div>
            <div class="column">
                <div class="box">
                    <article class="media">
                        {% if item.image %}
                        <div class="media-left content">
                            <figure class="image is-128x128">
                                <img src="{{ item.image.url }}" alt="{{ item.title }}">
                                <caption><button class="button is-link is-small js-open-popup">Оставить заявку</button></caption>
                            </figure>
                        </div>
                        {% endif %}
                        <div class="media-content">
                            <div class="content"><strong>{{ item.title  }}</strong> <br/>{{ item.description | safe }}</div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
        {% if details %}
        <div class="columns">
            <div class="column is-offset-3-tablet is-offset-2-desktop">
                <div class="content">
                    <p class="subtitle is-4 has-text-centered">Комплектующие</p>
                </div>
                <div class="columns is-multiline  details">
                    {% for detail in details %}
                    <div class="column is-4-desktop is-6-tablet">
                        <div class="box">
                            <div class="media">
                                <div class="media-left">
                                    <figure class="image is-3by4">
                                        <img src="{{ detail.image.url  }}" alt="{{ detail.title }}">
                                    </figure>
                                </div>
                                <div class="media-content">
                                    <p>{{ detail.title }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</section>


<div id="contact-popup" class="modal">
    <div class="modal-content">
        <div class="modal-body">
            {% include "orders/order_form.html" with form=order_form item=item %}
        </div>
    </div>
</div>
{% endblock %}
